*{
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --color-site-background:    hsl(  9,   2%,  29%);
  --color-site-foreground:    hsl(  0,   0%, 100%);
  --color-display-background: hsl(  0,   0%, 100%);
  --color-display-foreground: hsl(223,  55%,  41%);
  --color-button-background:  hsl( 27,  11%,  72%);
  --color-button-foreground:  hsl(  0,   0%,   0%);
  --color-enter-background:   hsl(140, 100%,  25%);
  --color-enter-foreground:   hsl(  0,   0%,   0%);
  --color-clear-background:   hsl(  2,  91%,  57%);
  --color-clear-foreground:   hsl(  0,   0%,   0%);
}

body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none;

  background: var(--color-site-background);
  color: var(--color-site-foreground);

  width: 80%;
  min-height: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

header {
  font-size: 30px;
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
}

header em {
  font-weight: bold;
  font-style: normal;
}

.interaction {
  font-size: 45px;
  height: 100px;
  line-height: 100px;
}

.display {
  background-color: var(--color-display-background);
  color: var(--color-display-foreground);
  width: 470px;
  height: 100px;
  font-size: 80px;
  line-height: 100px;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: left;
}

.display p {
  letter-spacing: 34px;
  width: 95%;
  margin: 0 auto;
}

.keypad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  width: 470px;
  margin: 0 auto;
}

.keypad button {
  border: none;
  background-color: var(--color-button-background);
  color: var(--color-button-foreground);
  width: 150px;
  height: 150px;
  font-size: 90px;
}

.keypad button#button-clear {
  background-color: var(--color-clear-background);
  color: var(--color-clear-foreground);
  font-size: 40px;
}

.keypad button#button-enter {
  background-color: var(--color-enter-background);
  color: var(--color-enter-foreground);
  font-size: 40px;
}

footer {
  height: 75px;
  font-size: 15px;
  line-height: 75px;
  margin-top: 40px;
}
